<div class="pb-12">
  @let total = totalRecords(); @if (total > 0) {
  <div class="mb-4">
    <p-select
      [(ngModel)]="siteType"
      [options]="siteTypes()"
      [showClear]="true"
      placeholder="Select site type"
      class="w-full md:w-56"
    />
  </div>

  @if(totalFiltered() > 0) {
  <p-table
    class="max-w-full"
    [value]="filteredSites() | slice : 0 : currentLimit()"
  >
    <ng-template #header>
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 30%">Name</th>
        <th style="width: 40%">Tags</th>
        <th style="width: 20%">Type</th>
      </tr>
    </ng-template>
    <ng-template #body let-site>
      <tr>
        <td>
          <span class="font-mono text-xs">{{ site.id }}</span>
        </td>

        <td>{{ site.name }}</td>
        <td>
          <div class="flex flex-wrap gap-1">
            @for(tag of site.tags; track tag) {
            <p-tag [value]="tag" [severity]="'secondary'" [rounded]="true" />
            }
          </div>
        </td>
        <td>{{ site.siteType }}</td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <div class="text-left text-gray-500 py-6">
    No sites found for the selected tags & type.
  </div>
  }

  <app-lazy-load-trigger
    [shouldTrigger]="currentLimit() < totalFiltered()"
    (trigger)="increaseLimit()"
  ></app-lazy-load-trigger>
  } @else {
  <app-sites-skeleton></app-sites-skeleton>
  }
</div>
