<div class="flex flex-wrap gap-1">
  <p-skeleton width="7rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="2rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="6.5rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="7rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="8rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="4rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="4rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="5rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="3rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="7rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="2rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="6.5rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="7rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="8rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="8rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="4rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="2rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="5rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="7rem" height="1.8rem" borderRadius="12px" />
  <p-skeleton width="4rem" height="1.8rem" borderRadius="12px" />
</div>
